<!DOCTYPE html>
<html>
<head>
    <title>Elementex</title>
</head>
<body>
    <header>
        <h1>Elementex</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Characters">Characters</a></li>
            <li><a href="/Weapons">Weapons</a></li>
        </ul>
    </nav>
    <main>