<% if (weapons.length > 0) { %>
    <% weapons.forEach(weapon => { %>
        <article>
            <a href="/weapons-detail/<%= weapon.weapon_id %>">
                <h2><%= weapon.weapon_name %></h2>
            </a>
                <p>ID: <%= weapon.weapon_id %></p>
        </article>
    <% }); %>
<% } else { %>
    <p>No weapons found.</p>
<% } %>


